
bin/
include/
lib/
lib64/
pyvenv.cfg
share/
test_images/
.ropeproject/
src/__pycache__/
*.pyc
lib64
*.raw
examples/raw_projections/
examples/corrected_projections/
*.raw
*.jpeg
LEAP/
examples/corrected_projections_no_clip/
examples/corrected_projections_duplicate/
examples/corrected_projections_complete/
examples/corrected_projections_complete_clip/
examples/corrected_projections_complete_clipped/
examples/corrected_projections_complete_cropped
*.zip
